doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script
        include ../public/javascripts/d3.min.js
        include ../public/javascripts/crossfilter.min.js
        include ../public/javascripts/dc.min.js
  body
    block content
